.productItem {
  margin: 1rem 0;
  background: #f1e1ed;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 4rem;
  color: rgb(247, 239, 239);
  padding: 20px;
  cursor: pointer;
  border-color: rgb(231, 201, 201);
  display: flexbox;
  text-align: center;
  align-items: center;
  flex: wrap;
}
.product-details {
  font-family: cursive;
}
