.App {
  text-align: center;
}
.title {
  font-style: oblique;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  background-color: rgb(233, 35, 21);
  align-content: center;
  height: fit-content;
  display: flex;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.title h1 {
  background-color: rgb(233, 35, 21);
}
.main {
  margin: 0rem 0;
  background: #ff3a3a;
  box-shadow: 0 2px 8px rgba(31, 9, 9, 0.26);
  color: rgb(252, 245, 245);
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  font-family: cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-items {
  margin: 0rem 0;
  background: #131212;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 0.5rem;
}
.App-item {
  margin: 1rem 0;
  background: #362e34;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 1rem;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
